.container-fluid {
  overflow: hidden;
}
.head {
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
  height: 59px;
  padding-top: 6px;
}
.head h3 {
  color: #019fff;
  font-size: 20px;
  font-weight: normal;
  line-height: 44px;
  margin: 0;
  padding: 0;
  text-shadow: 2px 0 1px #fff;
}
.main-body {
  clear: both;
  display: block;
  overflow: hidden;
  padding-top: 40px;
}
.main-body h4 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 4px;
}
footer {
  background-color: #f1f1f1;
  border-top: 1px solid #ccc;
  margin-top: 30px;
  padding: 15px 0;
}